{% extends "Menu.html" %}
{% block content %}
  <h2 style="color:white;"> Listado de usuarios a aprobar</h2>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            
            
            <table class="table"> 
                <thead> 
                    <tr> 
                        <th>Fecha y hora</th> 
                        <th>Monto</th> 
                        <th>Cuenta de origen</th> 
                        <th>Cuenta destino</th> 
                        <th>Opciones</th>
                    </tr> 
                </thead> 
                <tbody> 
                    {% for transaccion in transacciones %}
                        <tr> 
                            <th scope="row">{{transaccion.fecha}}</th> 
                            <td>{{transaccion.monto}}</td> 
                            <td>{{transaccion.cuentaOrigen}}</td> 
                            <td>{{transaccion.cuentaDestino}}</td>
                            <td>
                                <form method="post" action="aprobar">
                                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                				<input type="hidden" name="cuentaOrigen" value="{{transaccion.cuentaOrigen}}" />
                                 <input type="hidden" name="cuentaDestino" value="{{transaccion.cuentaDestino}}" />
                                 <input type="hidden" name="monto" value="{{transaccion.monto}}" />
                                 <input type="hidden" name="id" value="{{transaccion.id}}" />   
    						<button type="submit" name="go" class="btn btn-xs btn-primary btn-block">Aprobar</button>
                                </form>
                            </td>
                            </tr>
                                                         
                    {% endfor %}
                </tbody> 
            </table> 



        </div>

    </div>  
{% endblock %}