{% extends "Menu.html" %}
{% block content %}
  <h2 style="color:white;"> Listado de usuarios a aprobar</h2>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            

            <table class="table"> 
                <thead> 
                    <tr> 
                        <th>Identificacion</th> 
                        <th>Nombre</th> 
                        <th>Mail</th> 
                        <th>Usuario</th> 
                        <th>Opciones</th>
                    </tr> 
                </thead> 
                <tbody> 
                    {% for user in usuarios %}
                        <tr> 
                            <th scope="row">{{user.identificacion}}</th> 
                            <td>{{user.nombre}}</td> 
                            <td>{{user.mail}}</td> 
                            <td>{{user.usuario}}</td>
                            <td>
                                <form method="post" action="habilitarUsuario">
                                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                				<input type="hidden" name="identificacion" value="{{user.identificacion}}" />
                                 <input type="hidden" name="nombre" value="{{user.nombre}}" />
                                 <input type="hidden" name="mail" value="{{user.mail}}" />   
    						<button type="submit" name="go" class="btn btn-xs btn-primary btn-block">Habilitar</button>
                                </form>
                            </td>
                            </tr>
                                                         
                    {% endfor %}
                </tbody> 
            </table> 



        </div>

    </div>  
{% endblock %}