{% extends "Menu.html" %}
{% block content %}
  <h2 style="color:white;"> Transferencia a cuentas</h2>

    <div class="row">
        <form method="post" action="transferirFondos">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="col-xs-12 col-md-8">
                
                    <h5 style="color:white;">Desde:</h5>
                    <select class="form-control" name="cuentaOrigen">
                      {% for cuenta in cuentas %}
                            <option value="{{cuenta.codigo}}">{{cuenta.codigo}} -- {{cuenta.saldo}}</option>
                      {% endfor %}
                    </select>
            </div>
            <div class="col-xs-12 col-md-8">
                    <h5 style="color:white;">Valor:</h5>
                    <input type="number" name="cantidad" placeholder="Cantidad" required class="form-control input-lg" />
            </div>
            <div class="col-xs-12 col-md-8">
                    <h5 style="color:white;">Hasta:</h5>
                    <input type="text" name="cuentaDestino" placeholder="Cuenta destino" required class="form-control input-lg" />
            </div>
            <div class="col-xs-12 col-md-8">
                    <h5 style="color:white;">Código:</h5>
                    <input type="text" name="codigo" placeholder="Código de transferencia" required class="form-control input-lg" />
            </div>
            <div class="col-xs-12 col-md-8">
                    <h5 style="color:white;">Token:</h5>
                    <input type="text" name="token" placeholder="Código de transferencia" required class="form-control input-lg" />
            </div>
            <div class="col-xs-12 col-md-8">
                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Transferir</button>
            </div>
            
        </form>
    </div>  
{% endblock %}