{% extends "Menu.html" %}
{% block content %}
  <h2 style="color:white;"> Listado de transacciones</h2>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            
            <table class="table"> 
                <thead> 
                    <tr> 
                        <th>Fecha y hora</th> 
                        <th>Monto</th> 
                        <th>Cuenta de origen</th> 
                        <th>Cuenta destino</th>
                        <th>Tipo</th>
                    </tr> 
                </thead> 
                <tbody> 
                    {% for transaccion in transacciones %}
                        <tr> 
                            <th scope="row">{{transaccion.fecha}}</th> 
                            <td>{{transaccion.monto}}</td> 
                            <td>{{transaccion.cuentaOrigen}}</td> 
                            <td>{{transaccion.cuentaDestino}}</td>
                            <td>{{transaccion.tipoTransaccion}}</td>
                            </tr>
                                                         
                    {% endfor %}
                </tbody> 
            </table> 



        </div>

    </div>  
{% endblock %}